.App {
  padding: 20px;
}

.switchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.switchContainer span {
  margin: 0 10px;
}

.logoContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  width: 225px;
  height: 225px;
  object-fit: contain;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
