.hero{
  margin-top: 50px;
    height: 70vh;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.logo{
    width: 30%;
    padding: 0;
}
@media (prefers-reduced-motion: no-preference) {
    .logo {
      animation: App-logo-spin infinite 20s linear;
  
    }
  }


  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .input{
    padding: 15px;

    border: 1px #08ff solid;
    border-radius: 15px;
    width: 50vw
  }

  .btn{
    padding: 25px;
    text-transform: uppercase;
    background-color: #08ff;
    color: white;
    border: none;
    outline: none;
    width: 50vw;
    border-radius: 15px;
    cursor: pointer;
  }
  .error{
    padding: 15px;
    width: 50vw;
  }